
body {

}
.hh2 {
    position: fixed;
    width:100vw;
    height: 70px;
    top:0px;
    z-index:3;
    background-color:none;
    transition:all .2s ease-in-out; 
}
.hh1 {
    position: fixed;
    width: 100vw;
height: 70px;
    top: 0px;
    z-index: 3;
    background-color: white;
    border-bottom:1px solid #d4d4d4;
    transition: all .2s ease-in-out;
}
.icc1 {
    display:none;
    transition: display .2s ease-in-out;
}
.icc2 {
    display: block;
    transition: display .2s ease-in-out;
}
.main {
    height: 50vh;
    min-height:700px;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom center;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    align-items:center;
    -webkit-align-items:center;
    justify-content: center;
    -webkit-justify-items:center;
    justify-items: center;
    align-content:center;
    -webkit-align-content:center;
}

*{
    padding:0px;
    margin:0;
    box-sizing:inherit;
}
#sksel{
    background-color:#00ff90;
    
    border-radius:25px;
    padding:7px 70px 10px 70px;
    width:auto;
    height:auto;
    vertical-align:top;
    font-size:2em;
    color:white;
    position:relative;
    
    text-align:center;
    text-decoration:none;

 
}

.icon {
    position: fixed;
    height:50px;
    width:auto;
    margin:10px 0px 10px 50px;
}
.sadavorum{
    top:0px;
position: relative;

   

}
.position{
    width: 250px;
    height: 450px;
    float:right;
    display: flex;
    margin-right: 70px;

}
.log-place{
        width: 250px;
    height: 450px;
    width: auto;
    height: auto;
}
#registration {
    margin-top: 13px;
    font-size: 1.1em;
    text-align:center;
    text-decoration: none;
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 6px 50px 7px 50px;
    transition:all .2s ease-in-out;
}
#registration:hover {
    color:#785cff;
    background-color:#00ff90;
    border-color:#00ff90;
}
.login {
    color: darkblue;
    padding:6px 50px 7px 50px;
    border-radius:10px;
    border:2px solid blue;
    background-color:white;
    text-align: center;
    text-decoration: none;
    font-size:1.1em;
}
#user{
    height:45px;
    width:auto;
    position:relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    z-index:4;
}

.mm1{
    display:none;

}
.mm2 {
    display: block;
    position: fixed;
    z-index: 3;
    float: right;
    height: 450px;
    width: 250px;
    background-color: #F8F8F8;
    border: 0.5px solid #d4d4d4;
    margin: 5px 0px 0px 0px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#log {

    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}
#parol {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.in {
    margin-left:11px;
    width: 170px;
    height:20px;
    background:none repeat scroll 0 0 #f5f5f5;
    border:1px solid rgba(172, 172, 172, 0.80);
    padding:2px;
    border-radius:4px;
   margin-right: auto;
    margin-left: auto;
    position: relative;
}
.place{
    margin-right: auto;
    margin-left: auto;
    position: relative;
}